<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <!-- BOOTSTRAP-CSS-->
    <link href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body ng-app='feed-me'>

  <div class="main" ng-view></div>

  <!-- REQUIRED LIBRARIES -->
  <!-- JQUERY: FOR BOOTSTRAP'S JS-PLUGINS -->
  <script src="/vendor/jquery/dist/jquery.js"></script>

  <!-- BOOTSTRAP.JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>

  <!-- VENDOR LIBS-->
  <script src="/vendor/moment/moment.js"></script>
  <script src="/vendor/underscore/underscore.js"></script>
  <script src="/vendor/angular/angular.js"></script>
  <script src="/vendor/angular-route/angular-route.js"></script>

  <!-- APP -->
  <script src="/app.js"></script>
  <script src="/router.js"></script>

  <!-- APP-COMPONENTS -->
  <script src="/services/search.js"></script>
  <script src="/services/api.js"></script>
  <script src="/controller/index.js"></script>
  <script src="/controller/search.js"></script>

 </body>
</html>
