<h1>Food Bot</h1>

<div ng-class="{withfadeout:isSpinning, withfadein:!isSpinning}">
  <map  zoom='{{mapZoom}}' id='map'></map>
</div>


  <span 
    style='z-index:100'
    spinner-key="spinner-1" 
    spinner-start-active="1" 
    us-spinner="{radius:200, width:30, length: 56}"></span>

<div class='row' >

  <div class='col-md-4 text-left'>
    <div class="input-group">
      <span class="input-group-addon"><div class='glyphicon glyphicon-map-marker'/></span>
      <input 
        ng-model='address' 
        name='address' 
        type="text" 
        class="form-control" 
        autofocus
        placeholder="Zip, address">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><div class='glyphicon glyphicon-time'/></span>
      <div class="btn-group btn-group-justified">
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: timeframe == 'today'}" ng-click='timeframe = "today"; filterMarkers();'>
            Today <span style='opacity:.5' class="badge">{{ count.today.LT5 }}</span>
          </button>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: timeframe == 'tomorrow'}" ng-click='timeframe = "tomorrow"; filterMarkers();'>
            Tomorrow <span style='opacity:.5' class="badge">{{ count.tomorrow.LT5 }}</span>
          </button>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: timeframe == 'thisweek' }" ng-click='timeframe = "thisweek"; filterMarkers();'>
            Later <span style='opacity:.5' class="badge">{{ count.thisweek.LT5 }}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><div class='glyphicon glyphicon-hand-right'/></span>
      <div class="btn-group btn-group-justified">
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: radius == 1}" ng-click='radius = 1; filterMarkers();'>
            < 1 mi. <span style='opacity:.5' class="badge">{{ count[timeframe].LT1 }}</span>
          </button>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: radius == 3}" ng-click='radius = 3; filterMarkers();'>
            < 3 mi. <span style='opacity:.5' class="badge">{{ count[timeframe].LT3 }}</span>
          </button>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: radius == 5}" ng-click='radius = 5; filterMarkers();'>
            < 5 mi. <span style='opacity:.5' class="badge">{{ count[timeframe].LT5 }}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <div class='glyphicon glyphicon-sort-by-attributes'/>
      </span>
      <div class="btn-group btn-group-justified">
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: predicate == 'time'}"
            ng-click='predicate = "time"'>
            Time 
          </button>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-default" 
            ng-class="{active: predicate == 'distance'}"
            ng-click='predicate = "distance"'>
            Distance 
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<div style="height:20px" class="ng-scope"></div>


<div class='table-responsive' style='width:50%; height:{{ tableHeight }}px;
overflow: auto; overflow-y:scroll;border-top-style:solid; border-top-color:#BBBBBB; border-top-width:1px'>

  <table class="table table-condensed table-hover" style='background-color:white; opacity:.9;-moz-border-radius: 4px 4px / 4px
4px; border-radius: 4px 4px / 4px 4px; border-style:solid; border-color:#BBBBBB; border-width:1px;'>
    <tr style='border-top-style:solid; border-top-color:#BBBBBB; border-top-width:1px' 
      ng-repeat="event in events | filter:isVisible | orderBy: predicate: reverse " >
      <td width='120px' ng-mouseover="event.highlightMarker();" ng-mouseout="event.normalizeMarker();">
        <span style='color:#888'>{{ event.timeFMT | capitalize }}</span>
      </td>

      <td  
        ng-mouseover="event.highlightMarker();"
        ng-mouseout="event.normalizeMarker()">

        <b style='color:#222'>{{ event.name | capitalize }}</b>
        <span ng-repeat="item in event.foodProvided"
          ng-click='event.showTags = !event.showTags'
          ng-show="!event.showTags">

          <img src="/assets/by-jacob-halton/icon_4131.svg" class='tag'
            alt='Wine' ng-show="item == 'pastry'" />

          <img src="/assets/by-edward-boatman/icon_332.svg" class='tag'
            alt='Wine' ng-show="item == 'wine' || item == 'drinks'" />

          <img src="/assets/by-charlotte-vogel/icon_6996.svg" class='tag'
            alt='Sushi' ng-show="item == 'sushi' || item == 'sushis'" />

          <img src="/assets/public-domain/icon_17562.svg" class='tag'
            alt='Food/Snacks' ng-show="item == 'food' || item == 'snacks'" />

          <img src="/assets/by-edward-boatman/icon_593.svg" class='tag'
            alt='Beer' ng-show="item == 'beer' || item == 'beers'" />

          <img src="/assets/by-stanislav-levin/icon_13158.svg" class='tag'
            alt='Pizza' ng-show="item == 'pizza' || item == 'pizzas'" />

          <img src="/assets/by-dmitry-baranovskiy/icon_10959.svg" class='tag'
            alt='Coffee' ng-show="item == 'coffee'" />
        </span>

        <span ng-repeat="item in event.foodProvided" class='badge'
          style='float:right;margin:0 4px 0 4px'
          ng-click='event.showTags = !event.showTags'
          ng-show="event.showTags"> {{item}} </span>
      </td>

      <td width='100px' 
        ng-mouseover="event.highlightMarker();"
        ng-mouseout="event.normalizeMarker();">
        <span style='color:#888'>
          At {{ event.distance | number:1 }} mi. 
        </span>
        <a class='glyphicon glyphicon-link' 
          href="{{event.unique}}" style='float:right;margin:2px'/>
      </td>
    </tr>
  </table>

</div>

